<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--<ion-back-button defaultHref="/home" text=""></ion-back-button>-->
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>注册首冲统计</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="search()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="下拉刷新" refreshingSpinner="circles" refreshingText="刷新中...">
    </ion-refresher-content>
  </ion-refresher>
  <div class="no-body" *ngIf="!dataList?.length">
    <ion-icon src="assets/svg/sousuo.svg"></ion-icon>
    <!-- <div class="text">请使用搜索功能</div> -->
  </div>
  <div class="content-wrap">
    <WingBlank [size]="'lg'">
      <Card *ngFor="let item of dataList;">
        <CardBody>

          <div class="item">
            <div class="label">日期：</div>
            <div class="prop">{{item.date}}</div>
          </div>
          <div class="item">
            <div class="label">注册赠送：</div>
            <div class="prop">{{item.sendGold/100}}</div>
          </div>
          <div class="item">
            <div class="label">首充人数：</div>
            <div class="prop">{{item.firstPayCnt}}</div>
          </div>
          <div class="item">
            <div class="label">付首充总额：</div>
            <div class="prop">{{item.firstPaySum}}</div>
          </div>
          <div class="item">
            <div class="label">细分详情：</div>
            <div class="prop">
              <span tappable (click)="infoHandler(item.date)"
                style="text-decoration: underline;color: rgb(0, 0, 204);">查看</span>
            </div>
          </div>
        </CardBody>
      </Card>
    </WingBlank>
  </div>

  <s-scroll-to-top slot="fixed"></s-scroll-to-top>
  <!-- 
    <ion-infinite-scroll threshold="400px" [disabled]="!dataList?.length" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="正在加载..."></ion-infinite-scroll-content>
    </ion-infinite-scroll> -->
</ion-content>