<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--<ion-back-button defaultHref="/module/home" text=""></ion-back-button>-->
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>游戏统计</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="search()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="下拉刷新" refreshingSpinner="circles" refreshingText="刷新中...">
    </ion-refresher-content>
  </ion-refresher>
  <div class="no-body" *ngIf="!dataList?.length">
    <ion-icon src="assets/svg/sousuo.svg"></ion-icon>
    <!-- <div class="text">请使用搜索功能</div> -->
  </div>
  <div class="content-wrap">
    <WingBlank [size]="'lg'">
      <Card *ngFor="let item of dataList;">
        <CardBody>
          <div class="item">
            <div class="label">渠道：</div>
            <div class="prop">{{item.channel}}</div>
          </div>
          <div class="item">
            <div class="label">游戏类型：</div>
            <div class="prop">
              <ion-chip color="primary" size="small">
                <ion-label>{{item.gameType | getGameNameByType}}</ion-label>
              </ion-chip>
            </div>
          </div>
          <div class="item">
            <div class="label">游戏人数：</div>
            <div class="prop">{{item.playCount}}</div>
          </div>
          <div class="item">
            <div class="label">游戏总投注：</div>
            <div class="prop">{{item.totalUseGold / 100}}</div>
          </div>
          <div class="item">
            <div class="label">游戏有效流水：</div>
            <div class="prop">{{item.totalValidGold / 100}}</div>
          </div>
          <div class="item">
            <div class="label">日期：</div>
            <div class="prop">{{item.dateTime}}</div>
          </div>
        </CardBody>
      </Card>
    </WingBlank>
  </div>

  <s-scroll-to-top slot="fixed"></s-scroll-to-top>

</ion-content>