<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--<ion-back-button defaultHref="/module/home" text=""></ion-back-button>-->
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>注册留存统计</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="search()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed"(ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>
  <div class="no-body" *ngIf="!dataList?.length">
    <ion-icon src="assets/svg/sousuo.svg"></ion-icon>
    <!-- <div class="text">请使用搜索功能</div> -->
  </div>
  <div class="content-wrap">
    <WingBlank [size]="'lg'">
      <Card *ngFor="let item of dataList;">
        <CardBody>

          <div class="item">
            <div class="label">日期：</div>
            <div class="prop">{{item.date}}</div>
          </div>
          <div class="item">
            <div class="label">注册玩家：</div>
            <div class="prop">{{item.regCount}}</div>
          </div>
          <div class="item">
            <div class="label">新增设备：</div>
            <div class="prop">{{item.deviceCount}}</div>
          </div>
          <div class="item">
            <div class="label">付款用户：</div>
            <div class="prop">{{item.payCount}}</div>
          </div>
          <div class="item">
            <div class="label">活跃用户：</div>
            <div class="prop">{{item.activeCount}}</div>
          </div>
          <div class="item">
            <div class="label">订单总数：</div>
            <div class="prop">{{item.payCountTotal}}</div>
          </div>
          <div class="item">
            <div class="label">订单总额：</div>
            <div class="prop">{{item.payAmount}}</div>
          </div>
          <div class="item">
            <div class="label">次日留存：</div>
            <div class="prop">{{item.keep1}}</div>
          </div>
          <div class="item">
            <div class="label">三日留存：</div>
            <div class="prop">{{item.keep3}}</div>
          </div>
          <div class="item">
            <div class="label">七日留存：</div>
            <div class="prop">{{item.keep7}}</div>
          </div>
          <div class="item">
            <div class="label">细分详情：</div>
            <div class="prop">
              <span tappable (click)="chartHandler(item.date)"
                style="text-decoration: underline;color: rgb(0, 0, 204);">查看</span>
            </div>
          </div>
        </CardBody>
      </Card>
    </WingBlank>
  </div>

  <s-scroll-to-top slot="fixed"></s-scroll-to-top>
  <!-- 
  <ion-infinite-scroll threshold="400px" [disabled]="!dataList?.length" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="正在加载..."></ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
</ion-content>