<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/module/qry/game" text=""></ion-back-button>
      <!-- <ion-menu-button></ion-menu-button> -->
    </ion-buttons>
    <ion-title>{{name}}游戏记录</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed"(ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="circles"></ion-refresher-content>
  </ion-refresher>

  <div class="no-body" *ngIf="!dataList?.length">
    <ion-icon src="assets/svg/sousuo.svg"></ion-icon>
    <!-- <div class="text">请使用搜索功能</div> -->
  </div>
  <div class="content-wrap">
    <!-- <ion-list lines=full>
      <ion-item-sliding *ngFor="let game of dataList;let index = index;">
        <ion-item lines="full">
          <ion-grid>
            <ion-row>
              <ion-col size="12" size-xl="6">
                <div class="item">
                  <div class="label">入桌编号：</div>
                  <div class="prop">{{game.recordId}}</div>
                </div>
              </ion-col>
              <ion-col size="12" size-xl="6">
                <div class="item">
                  <div class="label">创建时间：</div>
                  <div class="prop">{{game.crtTime}}</div>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="unread(item)">本局详情</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list> -->
    <ion-card *ngFor="let game of dataList;let index = index;">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="12" size-xl="6">
              <div class="item">
                <div class="label">入桌编号：</div>
                <div class="prop">{{game.recordId}}</div>
              </div>
            </ion-col>
            <ion-col size="12" size-xl="6">
              <div class="item">
                <div class="label">创建时间：</div>
                <div class="prop">{{game.crtTime}}</div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
      <ion-grid class="operate">
        <ion-row class=" ion-align-items-center">
          <ion-col style="text-align:right;white-space:nowrap;">
            <ion-button fill="outline" size="small" (click)="gameDetail(game,index)">本局详情</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>

  <s-scroll-to-top slot="fixed"></s-scroll-to-top>
</ion-content>