<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>搜索</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="fixed">日期</ion-label>
      <ion-datetime [(ngModel)]="formData.date" slot="end" display-format="YYYY-MM-DD" cancelText="取消" doneText="确定">
      </ion-datetime>
    </ion-item>
  </ion-list>

  <div class="submit ion-padding">
    <ion-button expand="block" (click)="submit()">确认</ion-button>
  </div>
</ion-content>