<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--<ion-back-button defaultHref="/module/home" text=""></ion-back-button>-->
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>畅玩宝查询</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button (click)="search()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
  <ion-toolbar class="ion-no-padding">
    <ion-searchbar [(ngModel)]="formData.keyword" (keyup)="onSearchKeyUp($event)" [animated]="true"
      cancelButtonText="取消" placeholder="账户ID" showCancelButton="focus">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed"(ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="circles"></ion-refresher-content>
  </ion-refresher>

  <div class="no-body" *ngIf="!data">
    <ion-icon src="assets/svg/sousuo.svg"></ion-icon>
    <!-- <div class="text">请使用搜索功能</div> -->
  </div>
  <div class="content-wrap" *ngIf="data">
    <WingBlank [size]="'lg'">
      <Card>
        <CardBody>
          <div class="item">
            <div class="label">账号ID：</div>
            <div class="prop">{{data?.data?.accountId}}</div>
          </div>
          <div class="item">
            <div class="label">余额：</div>
            <div class="prop">{{data?.data?.gold / 100.0}}</div>
          </div>
          <div class="item">
            <div class="label">总利息：</div>
            <div class="prop">{{data?.data?.totalFee / 100.0}}</div>
          </div>
          <div class="item">
            <div class="label">总存：</div>
            <div class="prop">{{data?.data?.totalIn / 100.0}}</div>
          </div>
          <div class="item">
            <div class="label">当日利息：</div>
            <div class="prop">{{data?.data?.dailyFee / 100.0}}</div>
          </div>
          <div class="item">
            <div class="label">可取利息：</div>
            <div class="prop">{{data?.data?.fee / 100.0}}</div>
          </div>
          <div class="item">
            <div class="label">操作：</div>
            <div class="prop">
              <span tappable (click)="getBorrow(data?.data?.roleId)"
                style="text-decoration: underline;color: rgb(0, 0, 204);">查询借款</span>
              &nbsp;&nbsp;
              <span tappable (click)="getDeposit(data?.data?.roleId)"
                style="text-decoration: underline;color: rgb(0, 0, 204);">查询存款</span>
            </div>
          </div>

        </CardBody>
      </Card>
    </WingBlank>
  </div>

  <s-scroll-to-top slot="fixed"></s-scroll-to-top>

  <ion-infinite-scroll threshold="400px" [disabled]="!dataList?.length" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="正在加载..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>