<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--<ion-back-button defaultHref="/module/home" text=""></ion-back-button>-->
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>游戏查询</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showPopup = !showPopup">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <sss-popup-search [(showPopup)]="showPopup" (submit)="searchRequest()">
    <ion-list>
      <ion-item>
        <ion-label position="fixed">游戏类型</ion-label>
        <ion-select [(ngModel)]="formData.gameType" slot="end" multiple="false" cancelText="取消" okText="确认">
          <ion-select-option [value]="'0'">无</ion-select-option>
          <ion-select-option *ngFor="let item of options" [value]="item.value">{{item.label}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">开始日期</ion-label>
        <ion-datetime [(ngModel)]="beginTime" (ionChange)="dateChange('beginTime',beginTime)" slot="end"
          display-format="YYYY-MM-DD HH:mm:ss" cancelText="取消" doneText="确定">
        </ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">结束日期</ion-label>
        <ion-datetime [(ngModel)]="endTime" (ionChange)="dateChange('endTime',endTime)" slot="end"
          display-format="YYYY-MM-DD HH:mm:ss" cancelText="取消" doneText="确定">
        </ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">账号ID</ion-label>
        <ion-input placeholder="请填写" [(ngModel)]="formData.keyword" style="text-align: right;" slot="end"></ion-input>
      </ion-item>
    </ion-list>
  </sss-popup-search>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed"(ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="circles"></ion-refresher-content>
  </ion-refresher>
  <div class="no-body" *ngIf="!dataList?.length">
    <ion-icon src="assets/svg/sousuo.svg"></ion-icon>
    <!-- <div class="text">请使用搜索功能</div> -->
  </div>
  <div class="content-wrap">
    <ion-card *ngFor="let game of dataList;">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size-xl="3" size-lg="4" size-md="5" size-sm="6" size-xs="6">
              <div class="item">
                <div class="label">账号ID：</div>
                <div class="prop">{{game.accountId}}</div>
              </div>
            </ion-col>
            <ion-col size-xl="3" size-lg="4" size-md="5" size-sm="6" size-xs="6">
              <div class="item">
                <div class="label">是否机器人：</div>
                <div class="prop">
                  <ion-chip color="success" size="small" *ngIf="game.robot===1">
                    <ion-label>是</ion-label>
                  </ion-chip>
                  <ion-chip color="warning" size="small" *ngIf="game.robot===0">
                    <ion-label>否</ion-label>
                  </ion-chip>
                </div>
              </div>
            </ion-col>
            <ion-col size-xl="3" size-lg="4" size-md="5" size-sm="6" size-xs="6">
              <div class="item">
                <div class="label">游戏类型：</div>
                <div class="prop">
                  <ion-chip color="primary">{{game.gameType | getGameNameByType}}</ion-chip>
                </div>
              </div>
            </ion-col>
            <ion-col size-xl="3" size-lg="4" size-md="5" size-sm="6" size-xs="6">
              <div class="item">
                <div class="label">开始余额：</div>
                <div class="prop">{{game.inTotalGold}}</div>
              </div>
            </ion-col>
            <ion-col size-xl="3" size-lg="4" size-md="5" size-sm="6" size-xs="6">
              <div class="item">
                <div class="label">结束余额：</div>
                <div class="prop">{{game.outTotalGold}}</div>
              </div>
            </ion-col>
            <ion-col size-xl="3" size-lg="4" size-md="5" size-sm="6" size-xs="6">
              <div class="item">
                <div class="label">使用：</div>
                <div class="prop">{{game.useGold}}</div>
              </div>
            </ion-col>
            <ion-col size-xl="3" size-lg="4" size-md="5" size-sm="6" size-xs="6">
              <div class="item">
                <div class="label">获得：</div>
                <div class="prop">{{game.getGold}}</div>
              </div>
            </ion-col>
            <ion-col size-xl="3" size-lg="4" size-md="5" size-sm="6" size-xs="6">
              <div class="item">
                <div class="label">游戏输赢：</div>
                <div class="prop">
                  <ion-chip color="warning" size="small" *ngIf="game.retGold>0">
                    <ion-label>{{game.retGold}}</ion-label>
                  </ion-chip>
                  <ion-chip color="success" size="small" *ngIf="game.retGold<=0">
                    <ion-label>{{game.retGold}}</ion-label>
                  </ion-chip>
                </div>
              </div>
            </ion-col>
            <ion-col size-xl="3" size-lg="4" size-md="5" size-sm="6" size-xs="6">
              <div class="item">
                <div class="label">抽水：</div>
                <div class="prop">{{game.tax}}</div>
              </div>
            </ion-col>
            <ion-col size-xl="3" size-lg="4" size-md="5" size-sm="6" size-xs="6">
              <div class="item">
                <div class="label">获得积分：</div>
                <div class="prop">
                  <ion-chip color="primary">{{game.points}}</ion-chip>
                </div>
              </div>
            </ion-col>
            <ion-col size-xl="3" size-lg="4" size-md="5" size-sm="6" size-xs="6">
              <div class="item">
                <div class="label">游戏内最低余额：</div>
                <div class="prop">{{game.minGold}}</div>
              </div>
            </ion-col>
            <ion-col size-xl="3" size-lg="4" size-md="5" size-sm="6" size-xs="6">
              <div class="item">
                <div class="label">游戏内最高余额：</div>
                <div class="prop">{{game.maxGold}}</div>
              </div>
            </ion-col>
            <ion-col size-xl="3" size-lg="4" size-md="5" size-sm="6" size-xs="6">
              <div class="item">
                <div class="label">服务器IP：</div>
                <div class="prop">{{game.workIp}}</div>
              </div>
            </ion-col>
            <ion-col size-xl="3" size-lg="4" size-md="5" size-sm="6" size-xs="6">
              <div class="item">
                <div class="label">开始时间：</div>
                <div class="prop">{{game.inTime}}</div>
              </div>
            </ion-col>
            <ion-col size-xl="3" size-lg="4" size-md="5" size-sm="6" size-xs="6">
              <div class="item">
                <div class="label">结束时间：</div>
                <div class="prop">{{game.outTime}}</div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
      <ion-grid class="operate">
        <ion-row class=" ion-align-items-center">
          <ion-col style="text-align:right;white-space:nowrap;">
            <ion-button fill="outline" size="small" (click)="detailHandler(game)">详情</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>

  <s-scroll-to-top slot="fixed"></s-scroll-to-top>

  <ion-infinite-scroll threshold="400px" [disabled]="!dataList?.length" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="正在加载..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>