<ion-content fullscreen>
  <div class="form-wrap">
    <form #loginForm="ngForm" (ngSubmit)="goToHome(loginForm)" (keyup.enter)="goToHome(loginForm)" novalidate>
      <div class="login-txt">登录</div>
      <input type="password" style="display: none;" /><!-- 兼容Chrome阻止自动填充用户名密码 -->
      <ion-item>
        <ion-icon class="input-icon" src="./assets/svg/user.svg"></ion-icon>
        <ion-input autocomplete="off" autocorrect="off" [(ngModel)]="loginInfo.username" clearInput="true"
          name="loginusername" type="text" spellcheck="false" placeholder="用户名" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-icon class="input-icon" src="./assets/svg/lock-o.svg"></ion-icon>
        <ion-input autocomplete="off" autocorrect="off" [(ngModel)]="loginInfo.password" clearInput="true"
          name="loginpassword" [type]="showPsw?'text':'password'" required placeholder="输入密码">
        </ion-input>
        <div class="s_h" item-end tappable (click)="showPsw=!showPsw">
          <img *ngIf="showPsw" src="./assets/icons/psw_hide_3.png" alt="">
          <img *ngIf="!showPsw" src="./assets/icons/psw_show_3.png" alt="">
        </div>
      </ion-item>

      <ion-item>
        <ion-icon class="input-icon" src="./assets/svg/captcha.svg"></ion-icon>
        <ion-input autocomplete="off" autocorrect="off" [(ngModel)]="loginInfo.captcha" clearInput="true"
          name="logincaptcha" required placeholder="验证码">
        </ion-input>
        <div class="s_h" item-end tappable>
          <img [src]="captchaPath" style="width: 149px;" tappable (click)="getCaptcha()" alt="">
        </div>
      </ion-item>

      <div class="btn-wrap">
        <button type="submit">登录</button>
      </div>
    </form>
  </div>
  <!-- <div class="signin-forgot">
    <a routerLink="/signin">免费注册</a>
  </div> -->
</ion-content>