<ion-app>
  <ion-menu #menu type="push">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          <!-- <img src="assets/imgs/avatar.png" style="width: 20px;border-radius: 50%;border: 1px solid #e0e0e0;" alt=""> -->
          <span>{{userName}}</span>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ListItem no-lines (click)="menu.close()" [routerDirection]="'root'" [routerLink]="['/home']"
        routerLinkActive="active">
        <ion-icon style="vertical-align: middle;margin-right: 6px;" [src]="'assets/svg/icon-shouye.svg'"></ion-icon>
        <span style="vertical-align: middle;">首页</span>
      </ListItem>
      <Accordion [accordion]="true" (onChange)="onChange($event)">
        <AccordionPanel *ngFor="let item of menuList; let i = index;" [key]="i" [header]="item.icon">
          <List className="my-list">
            <ListItem *ngFor="let content of item.child" (click)="menu.close()" [routerDirection]="'root'"
              [routerLink]="[content.url]" routerLinkActive="active">
              <!-- <ion-icon style="vertical-align: middle;margin-right: 6px;" [src]="content.icon"></ion-icon> -->
              <span style="vertical-align: middle;">{{content.title}}</span>
            </ListItem>
          </List>
        </AccordionPanel>
      </Accordion>
    </ion-content>
    <ion-footer>
      <ion-menu-toggle auto-hide="false">
        <ion-button no-margin (click)="logout()" expand="full">退出</ion-button>
      </ion-menu-toggle>
    </ion-footer>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>