<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>搜索</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-list> -->

  <ion-item Picker [data]="optionsPayInfo" [mask]="true" [title]="'支付方式'" [(ngModel)]="payInfoArr"
    (ngModelChange)="payInfoChange($event)" (onDismiss)="payInfoDismiss()">
    <ion-label>支付方式</ion-label>
    <div slot="end">{{payInfoLabel||'请选择'}}</div>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">内部订单</ion-label>
    <ion-input [(ngModel)]="formData.orderId" placeholder="请输入" style="text-align: right;" slot="end"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">外部订单</ion-label>
    <ion-input [(ngModel)]="formData.outerOrderId" placeholder="请输入" style="text-align: right;" slot="end">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label>内部订单</ion-label>
    <ion-select placeholder="请选择" [(ngModel)]="formData.orderId" okText="确定" cancelText="取消">
      <!-- <ion-select-option value="">无</ion-select-option> -->
      <ion-select-option value="xinfutong">信付通</ion-select-option>
      <ion-select-option value="tongfu">通付</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>状态</ion-label>
    <ion-select placeholder="请选择" [(ngModel)]="formData.status" okText="确定" cancelText="取消">
      <!-- <ion-select-option value="">无</ion-select-option> -->
      <ion-select-option value="0">创建待确认</ion-select-option>
      <ion-select-option value="1">支付成功</ion-select-option>
      <ion-select-option value="2">支付成功已发放</ion-select-option>
      <ion-select-option value="3">确认失败</ion-select-option>
      <ion-select-option value="4">掉单修复</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">开始日期</ion-label>
    <ion-datetime [(ngModel)]="formData.beginTime" slot="end" display-format="YYYY-MM-DD" cancelText="取消" doneText="确定">
    </ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">结束日期</ion-label>
    <ion-datetime [(ngModel)]="formData.endTime" slot="end" display-format="YYYY-MM-DD" cancelText="取消" doneText="确定">
    </ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">账号ID</ion-label>
    <ion-input [(ngModel)]="formData.keyword" style="text-align: right;" slot="end"></ion-input>
  </ion-item>
  <!-- </ion-list> -->

  <div class="submit" padding>
    <ion-button expand="block" (click)="submit()">确认</ion-button>
  </div>
</ion-content>