<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--<ion-back-button defaultHref="/module/home" text=""></ion-back-button>-->
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>提现统计</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="search()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed"(ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>
  <div class="no-body" *ngIf="!dataList?.length">
    <ion-icon src="assets/svg/sousuo.svg"></ion-icon>
    <!-- <div class="text">请使用搜索功能</div> -->
  </div>
  <div class="content-wrap">
    <WingBlank [size]="'lg'">
      <Card *ngFor="let item of dataList;">
        <CardBody>
          <div class="item">
            <div class="label">渠道ID：</div>
            <div class="prop">{{item.channelId}}</div>
          </div>
          <div class="item">
            <div class="label">日期：</div>
            <div class="prop">{{item.date}}</div>
          </div>
          <div class="item">
            <div class="label">提现总额：</div>
            <div class="prop">{{item.sumGold/100}}</div>
          </div>
          <div class="item">
            <div class="label">用提现成功总额：</div>
            <div class="prop">{{item.succeedGold/100}}</div>
          </div>
          <div class="item">
            <div class="label">提现失败总额：</div>
            <div class="prop">{{item.failedGold/100}}</div>
          </div>
          <div class="item">
            <div class="label">未提现完成总额：</div>
            <div class="prop">{{item.unfinishedGold/100}}</div>
          </div>
        </CardBody>
      </Card>
    </WingBlank>
  </div>

  <s-scroll-to-top slot="fixed"></s-scroll-to-top>

  <ion-infinite-scroll threshold="400px" [disabled]="!dataList?.length" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="正在加载..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>