<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>搜索</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>渠道</ion-label>
      <ion-select placeholder="请选择" [(ngModel)]="formData.channel" okText="确定" cancelText="取消">
        <ion-select-option value="">无</ion-select-option>
        <ion-select-option *ngFor="let item of optionsChannel" [value]="item.channelId">
          {{item.channelId+' '+item.channelName}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">开始日期</ion-label>
      <ion-datetime [(ngModel)]="formData.beginTime" slot="end" display-format="YYYY-MM-DD" cancelText="取消"
        doneText="确定">
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">结束日期</ion-label>
      <ion-datetime [(ngModel)]="formData.endTime" slot="end" display-format="YYYY-MM-DD" cancelText="取消" doneText="确定">
      </ion-datetime>
    </ion-item>
  </ion-list>

  <div class="submit" padding>
    <ion-button expand="block" (click)="submit()">确认</ion-button>
  </div>
</ion-content>