<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--<ion-back-button defaultHref="/home" text=""></ion-back-button>-->
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>赠送管理</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="content-wrap">
    <ion-list>
      <ion-item-divider>
        <ion-label>渠道号</ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-label>渠道</ion-label>
        <ion-select placeholder="渠道" [(ngModel)]="channel" (ionChange)="channelChange()" okText="确定" cancelText="取消">
          <ion-select-option [value]="item.channelId" *ngFor="let item of optionsChannel">
            {{item.channelName+item.channelId}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <div class="no-body" *ngIf="!dataList?.length">
      <ion-icon src="assets/svg/sousuo.svg"></ion-icon>
    </div>
<!--     
    <ion-item-divider>
      <ion-label>渠道号</ion-label>
    </ion-item-divider> -->
    <ion-card *ngFor="let item of dataList;">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size-xl="3" size-lg="4" size-md="5" size-sm="6" size-xs="6">
              <div class="item">
                <div class="label">赠送类型：</div>
                <div class="prop">{{item.typeName}}</div>
              </div>
            </ion-col>
            <ion-col size-xl="3" size-lg="4" size-md="5" size-sm="6" size-xs="6">
              <div class="item">
                <div class="label">赠送金额：</div>
                <div class="prop">{{item.giftAmount}}</div>
              </div>
            </ion-col>
            <ion-col size-xl="3" size-lg="4" size-md="5" size-sm="6" size-xs="6">
              <div class="item">
                <div class="label">限制IP数：</div>
                <div class="prop">{{item.ipCount}}</div>
              </div>
            </ion-col>
            <ion-col size-xl="3" size-lg="4" size-md="5" size-sm="6" size-xs="6">
              <div class="item">
                <div class="label">限制设备数：</div>
                <div class="prop">{{item.ondeviceCount}}</div>
              </div>
            </ion-col>
            <ion-col size-xl="3" size-lg="4" size-md="5" size-sm="6" size-xs="6">
              <div class="item">
                <div class="label">限制范围：</div>
                <div class="prop">{{item.forbidVal}}</div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
      <ion-grid class="operate">
        <ion-row class="ion-justify-content-end">
          <ion-button fill="outline" size="small">赠送限制详情</ion-button>
          <ion-button fill="outline" size="small">修改</ion-button>
        </ion-row>
      </ion-grid>
    </ion-card>

  </div>

  <s-scroll-to-top slot="fixed"></s-scroll-to-top>

</ion-content>