<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--<ion-back-button defaultHref="/home" text=""></ion-back-button>-->
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>系统日志</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showPopup = !showPopup">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <sss-popup-search [(showPopup)]="showPopup" (submit)="searchRequest()">
    <ion-list>
      <ion-item>
        <ion-label position="fixed">用户名/用户操作</ion-label>
        <ion-input placeholder="请填写" clearInput [(ngModel)]="key" style="text-align: right;" slot="end">
        </ion-input>
      </ion-item>
    </ion-list>
  </sss-popup-search>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="下拉刷新" refreshingSpinner="circles" refreshingText="刷新中...">
    </ion-refresher-content>
  </ion-refresher>
  <div class="no-body" *ngIf="!dataList?.length">
    <ion-icon src="assets/svg/sousuo.svg"></ion-icon>
    <!-- <div class="text">请使用搜索功能</div> -->
  </div>
  <div class="content-wrap">

    <ion-card *ngFor="let item of dataList;">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size-xl="3" size-lg="4" size-md="5" size-sm="6" size-xs="6">
              <div class="item">
                <div class="label">ID：</div>
                <div class="prop">{{item.id}}</div>
              </div>
            </ion-col>
            <ion-col size-xl="3" size-lg="4" size-md="5" size-sm="6" size-xs="6">
              <div class="item">
                <div class="label">用户名：</div>
                <div class="prop" #div >{{div.target || json}} {{item.username}}</div>
              </div>
            </ion-col>
            <ion-col size-xl="3" size-lg="4" size-md="5" size-sm="6" size-xs="6">
              <div class="item">
                <div class="label">用户操作：</div>
                <div class="prop">{{item.operation}}</div>
              </div>
            </ion-col>
            <ion-col size-xl="3" size-lg="4" size-md="5" size-sm="6" size-xs="6">
              <div class="item">
                <div class="label">请求方法：</div>
                <div class="prop">{{item.method}}</div>
              </div>
            </ion-col>
            <ion-col size-xl="3" size-lg="4" size-md="5" size-sm="6" size-xs="6">
              <div class="item">
                <div class="label">请求参数：</div>
                <div class="prop">{{item.params}}</div>
              </div>
            </ion-col>
            <ion-col size-xl="3" size-lg="4" size-md="5" size-sm="6" size-xs="6">
              <div class="item">
                <div class="label">执行时长(毫秒)：</div>
                <div class="prop">{{item.time}}</div>
              </div>
            </ion-col>
            <ion-col size-xl="3" size-lg="4" size-md="5" size-sm="6" size-xs="6">
              <div class="item">
                <div class="label">IP地址：</div>
                <div class="prop">{{item.ip}}</div>
              </div>
            </ion-col>
            <ion-col size-xl="3" size-lg="4" size-md="5" size-sm="6" size-xs="6">
              <div class="item">
                <div class="label">创建时间：</div>
                <div class="prop">{{item.createDate}}</div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

  </div>

  <s-scroll-to-top slot="fixed"></s-scroll-to-top>

  <ion-infinite-scroll threshold="400px" [disabled]="!dataList?.length" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="正在加载..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>