<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/module/qry/game"></ion-back-button>
      <!-- <ion-menu-button></ion-menu-button> -->
    </ion-buttons>
    <ion-title>
      抢庄牛牛进出桌游戏记录
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <WingBlank>
    <Card *ngFor="let item of dataList;">
      <CardBody>
        <div class="item">
          <div class="label"><span class="text">是否庄家</span><span>：</span></div>
          <div class="prop">
            <ion-chip color="success" size="small" *ngIf="item.isBanner===1">
              <ion-label>是</ion-label>
            </ion-chip>
            <ion-chip color="warning" size="small" *ngIf="item.isBanner!==1">
              <ion-label>否</ion-label>
            </ion-chip>
          </div>
        </div>
        <div class="item">
          <div class="label"><span class="text">开始余额</span><span>：</span></div>
          <div class="prop">{{item?.startGold / 100.0}}</div>
        </div>
        <div class="item">
          <div class="label"><span class="text">结束余额</span><span>：</span></div>
          <div class="prop">{{item?.endGold / 100.0}}</div>
        </div>
        <div class="item">
          <div class="label"><span class="text">变动</span><span>：</span></div>
          <div class="prop">{{item?.balance / 100.0}}</div>
        </div>
        <div class="item">
          <div class="label"><span class="text">抽水</span><span>：</span></div>
          <div class="prop">{{item?.tax / 100.0}}</div>
        </div>
        <div class="item">
          <div class="label"><span class="text">游戏时间</span><span>：</span></div>
          <div class="prop">{{item?.crtTime}}</div>
        </div>
        <div class="item">
          <div class="label"><span class="text">庄家赢</span><span>：</span></div>
          <div class="prop">{{item?.bannerWin}}</div>
        </div>
        <div class="item">
          <div class="label"><span class="text">详情</span><span>：</span></div>
          <div class="prop" [innerHTML]="item?.detailDesc"></div>
        </div>
      </CardBody>
    </Card>
  </WingBlank>
  <s-scroll-to-top slot="fixed"></s-scroll-to-top>
</ion-content>